.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutContent {
    display: flex;
    position: relative;
}

.aboutImg {
    width: 50%;
}

.aboutCopy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-left: 1.25rem;
    padding: 3rem 0.75rem 3rem 0;
    width: calc(50% + 4rem);
    z-index: 1;
    p {
        margin: 1rem 0.5rem;
    }
    
    .sectionLink:nth-of-type(2) {
        right: 9.7rem;
    }
    :first-child {
        font-size: 1.5rem;
        font-weight: 700;
        color: $accentText;
        width: 100%;
    }

    .learningNote {
        width: 100%;
    }

    .learningNote span {
        font-size: 1rem;
        font-weight: 600;
        color: $nearBlack;
    }
}

.sectionLink {
    position: absolute;
    bottom: 0;
    right: 0.95rem;
    border-bottom: 3px solid $accentText;
}

.aboutImg {
    position: relative;
    width: 50%;
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
        z-index: 1;
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.dashAccent {
    position: absolute;
    bottom: -7.25rem;
    right: 7rem;
    height: 40vw;
    max-height: 30rem;
    width: 40vw;
    max-width: 29rem;
    border-radius: 50%;
    border: 0.95rem dotted $accentIcon2-faded;
    z-index: -1;
}

.dashAccent2 {
    position: absolute;
    right: 0;
    top: 7.5%;
    height: 85%;
    width: 75%;
    border: 0.5rem dotted $accentText-faded;
    z-index: -2;
    border-radius: 0.75rem;
}

.aboutSection::before {
    content: '';
    position: absolute;
    transform: scaleX(-1) ;
    top: -10rem;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    border-style: solid;
    border-width: 4rem 0 4rem 100vw;
    border-color: $heroColor transparent transparent $heroColor;
}

.aboutSection::after {
    content: '';
    position: absolute;
    transform: scaleY(-1) scaleX(-1);
    bottom: -14rem;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    border-style: solid;
    border-width: 4rem 0 4rem 100vw;
    border-color: $angleBackground transparent transparent $angleBackground;
    z-index: -3;
}
