.aboutSection {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContent {
    display: flex;
    position: relative;
}


.aboutImg {
    width: 50%;
}

.aboutCopy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-left: -4rem;
    padding: 3rem 0.75rem 3rem 0;
    // width: 55%;
    width: calc(50% + 4rem);
    z-index: 1;
    p {
        margin: 1rem 0;
        width: 75%;
    }

    a {
        position: absolute;
        bottom: 0;
        right: 6rem;
        border-bottom: 3px solid lightseagreen;
        // border-bottom: 3px solid #66cdaa;
    }
    :first-child {
        font-size: 1.5rem;
        font-weight: 700;
        color: lightseagreen;
        // color: #66cdaa;
        width: 100%;
    }
}

.aboutImg {
    position: relative;
    width: 50%;
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
        z-index: 1;
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.dashAccent {
    position: absolute;
    bottom: -8rem;
    right: 5rem;
    height: 40vw;
    max-height: 30rem;
    width: 40vw;
    max-width: 30rem;
    border-radius: 50%;
    border: 0.25rem dotted rgba(102, 51, 153, 0.397);
    z-index: -1;
    // padding: 45% 0;
}

.dashAccent2 {
    position: absolute;
    right: 0;
    top: 7.5%;
    height: 85%;
    width: 55%;
    border: 0.25rem dotted rgba(102, 51, 153, 0.055);
    z-index: -2;
}