// DOTTED ARROW - HEADER

@keyframes bounce {
    0%, 6%, 12.5%, 88%, 94%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    91% {
        transform: translateY(0.3rem) rotate(45deg);
    }
    95% {
        transform: translateY(-0.08rem) rotate(45deg);
    }
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(45deg);
    }
    33% {
        transform: rotate(51deg);
    }
    66% {
        transform: rotate(41deg);
    }
}


// DOTTED ARROW - CONTACT SECTION

@keyframes bounceUp {
    0%, 6%, 12.5%, 88%, 94%, 100% {
        transform: translateY(0) rotate(-135deg);
    }
    91% {
        transform: translateY(-0.3rem) rotate(-135deg);
    }
    95% {
        transform: translateY(0.08rem) rotate(-135deg);
    }
}

@keyframes wiggleUp {
    0%, 100% {
        transform: rotate(-135deg);
    }
    33% {
        transform: rotate(-140deg);
    }
    66% {
        transform: rotate(-131deg);
    }
}