header {
    height: 100vh;
    min-height: 800px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: mediumaquamarine;
    position: relative;
    padding: 6rem 0;
    nav {
    position: absolute;
    }
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 600px;
    position: relative;
}

.headerCopy {
    margin: 0 auto;
    text-align: right;
}

h1 {
    margin: 0 auto;
}

.arrowBuddies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;

    div {
        margin: 0.5rem 0;
    }
}