header {
    height: 100vh;
    min-height: 660px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $primaryColor;
    position: relative;
    padding: 6rem 0;
    overflow: hidden;
    nav {
    position: absolute;
    }
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 600px;
    width: 100%;
}

.headerCopy {
    text-align: right;
    p {
        margin-right: 0.6rem;
    }
}

h1 {
    margin: 0 auto;
}

.arrowBuddies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 1rem 0;
    div {
        margin: 0.5rem;
    }
}

.arrowLink {
    margin-top: 1rem;
}

.arrowLink:hover,
.arrowLink:focus {
    border: none;
}

.arrowLink:hover .downArrow,
.arrowLink:focus-within .downArrow {
    border-bottom: 0.5rem dotted gold;
    border-right: 0.5rem dotted gold;
}

.downArrow {
    height: 3rem;
    width: 3rem;
    border-bottom: 0.5rem dotted $neutralColor;
    border-right: 0.5rem dotted $neutralColor;
    transform: rotate(45deg);
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}