// ===TRIANGLE BUDDIES===

.triangleUp {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $accentText;
}

.triangleDown {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid $accentIcon1;
  }
  
  .triangleLeft {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid $beakAccentColor;
  }

// ===BIRB LOGO===

.mainLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: $neutralColor;
    background-color: $accentText;
    padding: 0 0 0.25rem 0;
}

.bContainer {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
}

.headRear {

    background-color: $lightColor;
    height: 50%;
    width: 50%;
    border-radius: 100% 100% 100% 0;
    position: absolute;
    top: 2.5%;
    left: 25%;
    z-index: 1;
}

.headFront {
    background-color: $lightColor;
    height: 50%;
    width: 50%;
    border-radius: 100%;
    /* border bottom needs to be ~ 0.75% of container height */
    border-bottom: 2px solid $darkColor;
    position: absolute;
    top: 2.5%;
    left: 25%;
    z-index: 2;
    transform: rotate(-65deg);
}
.bodyBox {
    background-color: $lightColor;
    height: 60%;
    width: 57.5%;
    border-radius: 0 100% 100% 0;
    position: absolute;
    top: 37.5%;
    left: 25%;
    /* border top needs to be 15% of container height */
    border-top: 42.5px solid $beakAccentColor;
}

.outerEye {
    background-color: $darkColor;
    height: 20%;
    width: 20%;
    border-radius: 100%;
    position: absolute;
    top: 17.5%;
    left: 40%;
    z-index: 2;
}
.eyelid {
    background-color: $darkColor;
    height: 15%;
    width: 20%;
    border-radius: 100%;
    border-bottom: 3px solid $lightColor;
    border-bottom: 2px solid $neutralColor;
    position: absolute;
    transform: rotate(20deg);
    top: 20%;
    left: 40%;
    z-index: 2;
}
.beakSeam {
    height: 3%;
    width: 15%;
    background-color: $beakAccentColor;
    /* border top needs to be ~0.75% of container height */
    border-top: 3px solid white;
    border-top: 3px solid $neutralColor;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 60%;
    z-index: 1;
    transform: rotate(28deg);
}
.wingCircle {
    background-color: $darkColor;
    height: 20%;
    width: 20%;
    border-radius: 100%;
    position: absolute;
    top: 57.5%;
    left: 40%;
    z-index: 3;
}

.wingTip {
    width: 27.5%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 6.25% 3.75% 0 0 white;
    /* Pixel values for box shadow need to be 6.25% and 3.75% of the container height */
    box-shadow: 20px 12.5px 0 0 $darkColor;
    
    position: absolute;
    top: 65%;
    left: 27.5%;
    transform: rotate(-50deg);
    z-index: 3;
}

    .logoLink {
        border-radius: 50%;
    }

    .logoLink:hover,
    .logoLink:focus {
        border: none;
    }

    .logoLink:hover .mainLogo,
    .logoLink:focus .mainLogo {
        background-color: $darkColor;
        background-color: $neutralColor;
    }

    .mainLogo {
        transition: background 0.2s;
    }