.projectSection {
    background-color: $angleBackground;
    position: relative;
    z-index: 1;
    padding: 1.75rem 0;
    margin-bottom: -4rem;
    overflow: hidden;
}

.projectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;

    .projectCopy {
        padding: 1.5rem 1.5rem 1.5rem 0;
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 42.5%;
    }

    .projectImg {
        position: relative;
        width: 52.5%;
        z-index: 1;
        img {
            min-height: 280px;
            object-fit: cover;
            z-index: -2;
            border-radius: 0.25rem;
        }
    }

    p {
        margin: 1rem 0;
    }

    a {
        border-bottom: 3px solid $accentText;
    }

    a:last-of-type {
        margin-left: 0.75rem;
    }
}

.projectLinks {
    text-align: left;
}

.projectContainer:nth-of-type(2n - 1) {
    flex-direction: row-reverse;

    .projectCopy {
        padding: 1.5rem 0 1.5rem 1.5rem;
        text-align: left;
    }

    .projectLinks {
        align-self: flex-end;
    }

    a {
        align-self: flex-end;
    }

    .creditLink {
        color: black;
        text-transform: none;
        margin: 0;
        border-bottom: none;
        font-weight: normal;
        text-decoration: underline;
    }

    .creditLink:hover {
        color: rgb(231, 196, 0);
    }
}


.projectImg > div {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -3;
    border-radius: 0.75rem;
}

.projectContainer:nth-of-type(2n - 1) .projectAccent {
    left: 10%;
    top: 7.5%;    
}

.projectContainer:nth-of-type(2n) .projectAccent {
    right: 10%;
    top: 7.5%;
}

// .leftAccent {
//     right: 10%;
//     top: 7.5%;
// }

// .rightAccent {
//     left: 10%;
//     top: 7.5%;
// }

.giftExchange {
    a {
        color: #538168;
        border-bottom: 3px solid #538168;
    }
    .projectImg > div {
        border: 0.25rem dotted #41504149;
    }
}

.iBag {
    a {
        color: #6E6792;
        border-bottom: 3px solid #6E6792;
    }
    .projectImg > div {
        border: 0.25rem dotted #ecdcc3a9;
    }
}

.letsWatch {
    a {
        color: #4d203cbc;
        border-bottom: 3px solid #4d203cbc;
    }
    .projectImg > div {
        border: 0.25rem dotted #3b2a3d4f;
    }
}

.whichGame {
    a {
        color: #676986;
        border-bottom: 3px solid #676986;
    }
    .projectImg > div {
        border: 0.25rem dotted #CBCCE9;
    }
}

.barOne {
    a {
        color: #DA6F00;;
        border-bottom: 3px solid #DA6F00;;
    }
    .projectImg > div {
        border: 0.25rem dotted #dd872c4f;
    }
}