html {
    font-family: 'Montserrat', sans-serif;

}

h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 
        -1px -1px 0 $accentText,
        1px -1px 0 $accentText,
        -1px 1px 0 $accentText,
        1px 1px 0 $accentText;
}

h2,
h3,
p {
    color: $nearBlack;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100%;
    color: $accentText;
    transition: color 0.2s ease, border 0.1s ease;
}

i {
    font-size: 2rem;
}

.sectionHeading {
    h2 {
        text-transform: uppercase;
    }

    p {
        font-family: 'Playfair Display', serif;
    }
}