
// Original birb colours
// Dark blue-green #20b2aa / lightseagreen
// Light blue-green #BCF0EE
// Beige #F6F2D8

$primaryColor: #66cdaa;

$darkColor: #70B8CC;

$lightColor: #A6ECFF;

$beakAccentColor: gold;

$neutralColor: #f8f6e9;

$angleBackground: rgb(240, 246, 246);

$nearBlack: #222;

$nearBlack: #222;

$textColor: lightseagreen;
