
// Possible header colour mediumaquamarine
// Dark blue-green #20b2aa / lightseagreen
// Light blue-green #BCF0EE
// Beige #F6F2D8


$primaryColor: #66cdaa;
// $primaryColor: #F6F2D8;
// $primaryColor: #9feed0;
// $primaryColor: rgb(102, 205, 191);
// $primaryColor: lightseagreen;

// $darkColor: rgb(69, 143, 118);
// $darkColor: #479597;
// $darkColor: #98c6ca;
// $darkColor: lightseagreen;
$darkColor: #7fbdcc;
$darkColor: #70B8CC;

// $lightColor: #BCF0EE;
$lightColor: #A6ECFF;
// $lightColor: rgb(205, 235, 233);
// $lightColor: #c1ebec;
// $lightColor: #bbe6ee;


$beakAccentColor: gold;
// $beakAccentColor: #F7E98F;

// $neutralColor: #F6F2D8;
// $neutralColor: #fffbdf;
$neutralColor: #f8f6e9;


