// Hero and birb image
$heroColor: #b0dece;
$darkColor: #a0c1cf;
$lightColor: #e1f3fc;
$beakAccentColor: #FFD680;
$neutralColor: #f8f6e9;
// $neutralColor: #667B85;

// General use
$angleBackground: #eff3f5;
$nearBlack: #39454a;

// Other accents (copy, triangles and icons)
$accentText: #466e82;
$accentIcon1: #E0746B;
$accentIcon2: #905f96;
$accentIcon2-faded: #905f9638;
$accentText-faded: #667b8510;