.arrow-up {
    // margin-top: 0.5rem;
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgb(146, 115, 167);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(255, 84, 54);
}

// .arrow-right {
//   width: 0; 
//   height: 0; 
//   border-top: 250px solid transparent;
//   border-bottom: 250px solid transparent;
//   transform: rotate(20deg);
  
//   border-left: 450px solid #F6F2D8;
//   position: absolute;
//   bottom: 0;
//   left: 42%;
// }

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid gold; 
}





.mainLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #F6F2D8;
    padding: 0 0 0.25rem 0;
}

.bContainer {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    // border: 5px solid #F6F2D8;
    background-color: #F6F2D8;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
}

.headRear {
    background-color: lightseagreen;
    background-color: rgb(187, 240, 237);
    height: 50%;
    width: 50%;
    border-radius: 100% 100% 100% 0;
    position: absolute;
    top: 2.5%;
    left: 25%;
    z-index: 1;
}

.headFront {
    background-color: rgb(187, 240, 237);
    height: 50%;
    width: 50%;
    border-radius: 100%;
    /* border bottom needs to be ~ 0.75% of container height */
    border-bottom: 2px solid lightseagreen;
    position: absolute;
    top: 2.5%;
    left: 25%;
    z-index: 2;
    transform: rotate(-65deg);
}
.bodyBox {
    background-color: rgb(187, 240, 237);
    height: 60%;
    width: 57.5%;
    border-radius: 0 100% 100% 0;
    position: absolute;
    top: 37.5%;
    left: 25%;
    /* border top needs to be 15% of container height */
    border-top: 42.5px solid gold;
}

.outerEye {
    background-color: white;
    background-color: lightseagreen;
    height: 20%;
    width: 20%;
    border-radius: 100%;
    position: absolute;
    top: 17.5%;
    left: 40%;
    z-index: 2;
}
.eyelid {
    background-color: white;
    background-color: lightseagreen;
    height: 15%;
    width: 20%;
    border-radius: 100%;
    border-bottom: 3px solid rgb(187, 240, 237);
    position: absolute;
    transform: rotate(20deg);
    top: 20%;
    left: 40%;
    z-index: 2;
}
.beakSeam {
    height: 3%;
    width: 15%;
    background-color: gold;
    /* border top needs to be ~0.75% of container height */
    border-top: 3px solid white;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 60%;
    z-index: 1;
    transform: rotate(28deg);
}
.wingCircle {
    background-color: white;
    background-color: lightseagreen;
    height: 20%;
    width: 20%;
    border-radius: 100%;
    position: absolute;
    top: 57.5%;
    left: 40%;
    z-index: 3;
}

.wingTip {
    width: 27.5%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 6.25% 3.75% 0 0 white;
    /* Pixel values for box shadow need to be 6.25% and 3.75% of the container height */
    box-shadow: 20px 12.5px 0 0 lightseagreen;
    
    position: absolute;
    top: 65%;
    left: 27.5%;
    transform: rotate(-50deg);
    z-index: 3;
}