html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 20px;
}

body {
  overflow-x: hidden;
  position: relative;
}

h1, h2, h3, p, a, ul, li {
  margin: 0;
  padding: 0;
}

button, a {
  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  text-transform: none;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100%;
  color: #0c8282;
}

a:hover,
a:focus,
.aboutSection a:hover,
.projectSection a:focus,
section .projectSection a:focus,
.projectSection a:hover {
  color: gold;
  border-bottom: 3px solid gold;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

h2, h3, p {
  color: #222;
}

section {
  margin: 10rem auto;
}

a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.arrowLink {
  -webkit-transition: 3s;
  transition: 3s;
}

.sectionHeading {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3rem 1rem;
}
.sectionHeading p {
  margin-left: 5.25rem;
}
.sectionHeading .sectionHeadingLine {
  border-left: 3px solid #0c8282;
  display: inline-block;
  height: 2.5rem;
  padding-right: 0.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  text-align: center;
  background-color: #f0f6f6;
  background-color: #fff;
}

.resumeLink, .downArrow {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html {
  font-family: "Montserrat", sans-serif;
}

.sectionHeading h2 {
  text-transform: uppercase;
}
.sectionHeading p {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}

i {
  font-size: 4rem;
}

header {
  height: 100vh;
  min-height: 660px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #66cdaa;
  position: relative;
  padding: 6rem 0;
  overflow: hidden;
}
header nav {
  position: absolute;
}

.headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 600px;
  width: 100%;
}

.headerCopy {
  text-align: right;
}
.headerCopy p {
  margin-right: 0.6rem;
}

h1 {
  margin: 0 auto;
  text-shadow: -1px -1px 0 #0c8282, 1px -1px 0 #0c8282, -1px 1px 0 #0c8282, 1px 1px 0 #0c8282;
}

.arrowBuddies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 1rem 0;
}
.arrowBuddies div {
  margin: 0.5rem;
}

.arrowLink {
  margin-top: 1rem;
}

.arrowLink:hover,
.arrowLink:focus {
  border: none;
}

.arrowLink:hover .downArrow,
.arrowLink:focus-within .downArrow {
  border-bottom: 0.5rem dotted gold;
  border-right: 0.5rem dotted gold;
  -webkit-animation: wiggle 0.5s ease 1;
          animation: wiggle 0.5s ease 1;
}

.arrowLink:hover .homeArrow,
.arrowLink:focus-within .homeArrow {
  border-bottom: 0.5rem dotted gold;
  border-right: 0.5rem dotted gold;
  -webkit-animation: wiggleUp 0.5s ease 1;
          animation: wiggleUp 0.5s ease 1;
}

.downArrow {
  height: 3rem;
  width: 3rem;
  border-bottom: 0.5rem dotted #f8f6e9;
  border-right: 0.5rem dotted #f8f6e9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  -webkit-animation: bounce 5s ease-in infinite;
          animation: bounce 5s ease-in infinite;
}

.triangleUp {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #0c8282;
}

.triangleDown {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f0744f;
}

.triangleLeft {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid gold;
}

.mainLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #f8f6e9;
  padding: 0 0 0.25rem 0;
}

.bContainer {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
}

.headRear {
  background-color: #A6ECFF;
  height: 50%;
  width: 50%;
  border-radius: 100% 100% 100% 0;
  position: absolute;
  top: 2.5%;
  left: 25%;
  z-index: 1;
}

.headFront {
  background-color: #A6ECFF;
  height: 50%;
  width: 50%;
  border-radius: 100%;
  /* border bottom needs to be ~ 0.75% of container height */
  border-bottom: 2px solid #70B8CC;
  position: absolute;
  top: 2.5%;
  left: 25%;
  z-index: 2;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

.bodyBox {
  background-color: #A6ECFF;
  height: 60%;
  width: 57.5%;
  border-radius: 0 100% 100% 0;
  position: absolute;
  top: 37.5%;
  left: 25%;
  /* border top needs to be 15% of container height */
  border-top: 42.5px solid gold;
}

.outerEye {
  background-color: #70B8CC;
  height: 20%;
  width: 20%;
  border-radius: 100%;
  position: absolute;
  top: 17.5%;
  left: 40%;
  z-index: 2;
}

.eyelid {
  background-color: #70B8CC;
  height: 15%;
  width: 20%;
  border-radius: 100%;
  border-bottom: 3px solid #A6ECFF;
  position: absolute;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: 20%;
  left: 40%;
  z-index: 2;
}

.beakSeam {
  height: 3%;
  width: 15%;
  background-color: gold;
  /* border top needs to be ~0.75% of container height */
  border-top: 3px solid white;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 60%;
  z-index: 1;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
}

.wingCircle {
  background-color: white;
  background-color: #70B8CC;
  height: 20%;
  width: 20%;
  border-radius: 100%;
  position: absolute;
  top: 57.5%;
  left: 40%;
  z-index: 3;
}

.wingTip {
  width: 27.5%;
  height: 20%;
  border-radius: 50%;
  -webkit-box-shadow: 6.25% 3.75% 0 0 white;
          box-shadow: 6.25% 3.75% 0 0 white;
  /* Pixel values for box shadow need to be 6.25% and 3.75% of the container height */
  -webkit-box-shadow: 20px 12.5px 0 0 #70B8CC;
          box-shadow: 20px 12.5px 0 0 #70B8CC;
  position: absolute;
  top: 65%;
  left: 27.5%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  z-index: 3;
}

.logoLink {
  border-radius: 50%;
}

.logoLink:hover,
.logoLink:focus {
  border: none;
}

.logoLink:hover .mainLogo,
.logoLink:focus .mainLogo {
  background-color: #70B8CC;
}

.mainLogo {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.aboutImg {
  width: 50%;
}

.aboutCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-left: -4rem;
  padding: 3rem 0.75rem 3rem 0;
  width: calc(50% + 4rem);
  z-index: 1;
}
.aboutCopy p {
  margin: 1rem 0;
  width: 75%;
}
.aboutCopy .sectionLink:nth-of-type(2) {
  right: 9.7rem;
}
.aboutCopy :first-child {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0c8282;
  width: 100%;
}
.aboutCopy .learningNote {
  width: 100%;
}
.aboutCopy .learningNote span {
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}

.sectionLink {
  position: absolute;
  bottom: 0;
  right: 0.95rem;
  border-bottom: 3px solid #0c8282;
}

.aboutImg {
  position: relative;
  width: 50%;
}
.aboutImg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
  z-index: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.dashAccent {
  position: absolute;
  bottom: -7.25rem;
  right: 7rem;
  height: 40vw;
  max-height: 30rem;
  width: 40vw;
  max-width: 29rem;
  border-radius: 50%;
  border: 0.75rem dotted rgba(102, 51, 153, 0.225);
  z-index: -1;
}

.dashAccent2 {
  position: absolute;
  right: 0;
  top: 7.5%;
  height: 82.5%;
  width: 55%;
  border: 0.25rem dotted rgba(102, 51, 153, 0.055);
  z-index: -2;
  border-radius: 0.75rem;
}

.aboutSection::before {
  content: "";
  position: absolute;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  top: -10rem;
  left: 0;
  right: 0;
  width: 100vw;
  height: 0;
  border-style: solid;
  border-width: 4rem 0 4rem 100vw;
  border-color: #66cdaa transparent transparent #66cdaa;
}

.aboutSection::after {
  content: "";
  position: absolute;
  -webkit-transform: scaleY(-1) scaleX(-1);
          transform: scaleY(-1) scaleX(-1);
  bottom: -14rem;
  left: 0;
  right: 0;
  width: 100vw;
  height: 0;
  border-style: solid;
  border-width: 4rem 0 4rem 100vw;
  border-color: #f0f6f6 transparent transparent #f0f6f6;
  z-index: -3;
}

.projectSection {
  background-color: #f0f6f6;
  position: relative;
  z-index: 1;
  padding: 1.75rem 0;
  margin-bottom: -4rem;
  overflow: hidden;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 6rem;
}
.projectContainer .projectCopy {
  padding: 1.5rem 1.5rem 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  width: 42.5%;
}
.projectContainer .projectImg {
  position: relative;
  width: 52.5%;
  z-index: 1;
}
.projectContainer .projectImg img {
  min-height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
  border-radius: 0.25rem;
}
.projectContainer p {
  margin: 1rem 0;
}
.projectContainer a {
  border-bottom: 3px solid #0c8282;
}
.projectContainer a:last-of-type {
  margin-left: 0.75rem;
}

.projectLinks {
  text-align: left;
}

.projectContainer:nth-of-type(2n - 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.projectContainer:nth-of-type(2n - 1) .projectCopy {
  padding: 1.5rem 0 1.5rem 1.5rem;
  text-align: left;
}
.projectContainer:nth-of-type(2n - 1) .projectLinks {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.projectContainer:nth-of-type(2n - 1) a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.projectContainer:nth-of-type(2n - 1) .creditLink {
  color: black;
  text-transform: none;
  margin: 0;
  border-bottom: none;
  font-weight: normal;
  text-decoration: underline;
}
.projectContainer:nth-of-type(2n - 1) .creditLink:hover {
  color: #e7c400;
}

.projectImg > div {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -3;
  border-radius: 0.75rem;
}

.leftAccent {
  right: 10%;
  top: 7.5%;
}

.rightAccent {
  left: 10%;
  top: 7.5%;
}

.proj0 a {
  color: #538168;
  border-bottom: 3px solid #538168;
}
.proj0 .projectImg > div {
  border: 0.25rem dotted #41504149;
}

.proj1 a {
  color: #6E6792;
  border-bottom: 3px solid #6E6792;
}
.proj1 .projectImg > div {
  border: 0.25rem dotted #ecdcc3a9;
}

.proj2 a {
  color: #4d203cbc;
  border-bottom: 3px solid #4d203cbc;
}
.proj2 .projectImg > div {
  border: 0.25rem dotted #3b2a3d4f;
}

.proj3 a {
  color: #676986;
  border-bottom: 3px solid #676986;
}
.proj3 .projectImg > div {
  border: 0.25rem dotted #CBCCE9;
}

.proj4 a {
  color: #DA6F00;
  border-bottom: 3px solid #DA6F00;
}
.proj4 .projectImg > div {
  border: 0.25rem dotted #dd872c4f;
}

.growthSection::before {
  content: "";
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  width: 100vw;
  height: 0;
  border-style: solid;
  border-width: 4rem 0 4rem 100vw;
  border-color: #f0f6f6 transparent transparent #f0f6f6;
  z-index: -3;
}

.growthSection::after {
  content: "";
  position: absolute;
  -webkit-transform: scaleY(-1) scaleX(-1);
          transform: scaleY(-1) scaleX(-1);
  bottom: -13rem;
  left: 0;
  right: 0;
  width: 100vw;
  height: 0;
  border-style: solid;
  border-width: 4rem 0 4rem 100vw;
  border-color: #f0f6f6 transparent transparent #f0f6f6;
  z-index: -3;
}

.growthSection {
  position: relative;
  min-height: 0;
  text-align: right;
  margin-bottom: 0rem;
}

.growthCopy {
  margin: -1rem auto 0 auto;
  padding: 1.25rem;
  width: 60%;
  max-width: 600px;
  border: 0.25rem dotted rgba(102, 51, 153, 0.116);
  border-radius: 1.5rem;
}
.growthCopy h3 {
  text-align: left;
  margin-bottom: 1.5rem;
}
.growthCopy .learningNote {
  margin-top: 0.25rem;
}
.growthCopy .currentLearning {
  color: #0c8282;
  display: inline-block;
  width: 100%;
  font-size: 4rem;
  text-align: center;
  margin-top: 1rem;
}

.learningHistory {
  margin: 0 auto;
  padding: 1.25rem 1.25rem 0 1.25rem;
  width: 100%;
  text-align: center;
}
.learningHistory h3 {
  padding: 1rem;
  margin-bottom: 0.75rem;
}
.learningHistory i {
  font-size: 2rem;
  display: inline-block;
  color: #0c8282;
  margin: 0.25rem;
}
.learningHistory i:nth-of-type(3n - 1) {
  color: rebeccapurple;
}
.learningHistory i:nth-of-type(3n) {
  color: #bb5757;
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
  margin-bottom: 0;
  position: relative;
  background-color: #f0f6f6;
}
.contactSection a:hover,
.contactSection a:focus {
  border: none;
}

.contactSection .h2Container {
  position: relative;
}

.homeArrow {
  height: 3rem;
  width: 3rem;
  border-bottom: 0.5rem dotted #0c8282;
  border-right: 0.5rem dotted #0c8282;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  bottom: -1rem;
  right: -4rem;
  margin: 0;
  -webkit-animation: bounceUp 5s ease-in infinite;
          animation: bounceUp 5s ease-in infinite;
}

.contactCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contactInfo {
  text-align: center;
  margin-bottom: 2rem;
}
.contactInfo a {
  padding: 0.25rem;
  text-transform: none;
  letter-spacing: 0.05rem;
}
.contactInfo p {
  font-weight: 700;
  font-size: 2rem;
}

.contactNav {
  margin-bottom: 2rem;
}
.contactNav a {
  margin: 0 1rem;
}
.contactNav i {
  font-size: 2rem;
}

.resumeContainer h3 {
  font-size: 1rem;
  margin: 1rem;
  position: relative;
}
.resumeContainer a {
  display: block;
  border: 3px solid white;
  width: 12rem;
  margin: 0 auto;
}
.resumeContainer a.resumeLink:hover, .resumeContainer a.resumeLink:focus .resume {
  border: 3px solid gold;
}

@-webkit-keyframes bounce {
  0%, 6%, 12.5%, 88%, 94%, 100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  91% {
    -webkit-transform: translateY(0.3rem) rotate(45deg);
            transform: translateY(0.3rem) rotate(45deg);
  }
  95% {
    -webkit-transform: translateY(-0.08rem) rotate(45deg);
            transform: translateY(-0.08rem) rotate(45deg);
  }
}

@keyframes bounce {
  0%, 6%, 12.5%, 88%, 94%, 100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  91% {
    -webkit-transform: translateY(0.3rem) rotate(45deg);
            transform: translateY(0.3rem) rotate(45deg);
  }
  95% {
    -webkit-transform: translateY(-0.08rem) rotate(45deg);
            transform: translateY(-0.08rem) rotate(45deg);
  }
}
@-webkit-keyframes wiggle {
  0%, 100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  33% {
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
  }
  66% {
    -webkit-transform: rotate(41deg);
            transform: rotate(41deg);
  }
}
@keyframes wiggle {
  0%, 100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  33% {
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
  }
  66% {
    -webkit-transform: rotate(41deg);
            transform: rotate(41deg);
  }
}
@-webkit-keyframes bounceUp {
  0%, 6%, 12.5%, 88%, 94%, 100% {
    -webkit-transform: translateY(0) rotate(-135deg);
            transform: translateY(0) rotate(-135deg);
  }
  91% {
    -webkit-transform: translateY(-0.3rem) rotate(-135deg);
            transform: translateY(-0.3rem) rotate(-135deg);
  }
  95% {
    -webkit-transform: translateY(0.08rem) rotate(-135deg);
            transform: translateY(0.08rem) rotate(-135deg);
  }
}
@keyframes bounceUp {
  0%, 6%, 12.5%, 88%, 94%, 100% {
    -webkit-transform: translateY(0) rotate(-135deg);
            transform: translateY(0) rotate(-135deg);
  }
  91% {
    -webkit-transform: translateY(-0.3rem) rotate(-135deg);
            transform: translateY(-0.3rem) rotate(-135deg);
  }
  95% {
    -webkit-transform: translateY(0.08rem) rotate(-135deg);
            transform: translateY(0.08rem) rotate(-135deg);
  }
}
@-webkit-keyframes wiggleUp {
  0%, 100% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  33% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  66% {
    -webkit-transform: rotate(-131deg);
            transform: rotate(-131deg);
  }
}
@keyframes wiggleUp {
  0%, 100% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  33% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  66% {
    -webkit-transform: rotate(-131deg);
            transform: rotate(-131deg);
  }
}
@media (max-height: 800px) and (min-width: 900px) {
  header {
    height: auto;
    height: 100vh;
  }
  header .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  h1 {
    font-size: 2.5rem;
  }

  .arrowBuddies {
    margin: 1rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }

  .mainLogo {
    -webkit-transform: scale(60%);
            transform: scale(60%);
    margin: -4rem 0;
  }
}
@media (max-width: 900px) {
  section {
    width: 100%;
    margin: 7rem auto;
  }

  h1, h2 {
    font-size: 2.5rem;
  }

  h3,
section p,
.projectLinks {
    padding: 0 1rem;
  }

  .sectionHeading {
    padding: 2rem 1rem 2.5rem 1rem;
  }
  .sectionHeading p {
    font-size: 0.75rem;
  }
  .sectionHeading p .sectionHeadingLine {
    padding: 0.12rem;
    height: 1.5rem;
  }

  header {
    min-height: 730px;
  }

  .mainLogo {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }

  .aboutSection {
    min-height: calc(100vh - 16rem);
  }
  .aboutSection .sectionHeading p {
    margin-left: 3.3rem;
  }
  .aboutSection .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSection .aboutCopy {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
  .aboutSection .aboutCopy p {
    font-size: 1rem;
    width: 100%;
  }
  .aboutSection .aboutImg {
    width: 100%;
    height: 8rem;
    background-image: url(../../assets/keyboardImage.jpg);
    background-size: cover;
    background-position: 0;
    border-radius: 0.125rem;
  }
  .aboutSection .aboutImg div {
    width: 13rem;
    height: 13rem;
    top: -2.5rem;
    left: -3.25rem;
  }
  .aboutSection .aboutImg img, .aboutSection .aboutImg .overlay {
    display: none;
  }
  .aboutSection .dashAccent {
    border: 0.5rem dotted rgba(102, 51, 153, 0.397);
  }
  .aboutSection .dashAccent2 {
    display: none;
  }

  .projectSection {
    padding-bottom: 0;
    margin-top: 10rem;
    margin-bottom: 6rem;
  }
  .projectSection .projectContainer:last-of-type {
    margin-bottom: 2rem;
  }
  .projectSection .sectionHeading {
    margin-bottom: 2.5rem;
  }
  .projectSection .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 6rem 0;
  }
  .projectSection .projectContainer .projectCopy {
    padding: 0;
    margin-top: 3rem;
  }
  .projectSection .projectContainer .projectCopy div {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 1rem;
  }
  .projectSection .projectContainer .projectCopy h3 {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .projectSection .projectContainer .projectLinks, .projectSection .projectContainer h3 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .projectSection .projectCopy, .projectSection .projectImg {
    width: 100%;
  }
  .projectSection .projectContainer:first-of-type {
    margin-top: 0rem;
  }
  .projectSection .projectContainer .projectCopy {
    text-align: left;
    padding: 0;
    margin-top: 3rem;
  }
  .projectSection .projectImg div {
    top: -8%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 115%;
    width: 85%;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  .projectSection .projectImg .leftAccent {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }

  .growthSection {
    margin-bottom: 10rem;
  }

  .growthCopy {
    width: 90%;
    margin-bottom: 0;
  }
  .growthCopy h3, .growthCopy p {
    padding: 0;
  }

  .contactSection::before {
    top: -8rem;
  }

  .contactInfo p {
    font-size: 1.5rem;
  }

  .contactNav {
    width: 60%;
  }
  .contactNav a {
    margin: 0.5rem;
  }
  .contactNav i {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .wrapper {
    width: 100%;
  }

  .projectSection {
    margin-top: 5rem;
  }
  .projectSection .sectionHeading p {
    margin-left: 3.8rem;
  }

  header {
    padding: 4rem 0 2rem 0;
    padding: 0;
    height: 100vh;
    min-height: 610px;
  }

  .headerWrapper {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  h1, h2 {
    font-size: 2rem;
  }

  .mainLogo {
    -webkit-transform: scale(80%);
            transform: scale(80%);
    margin: -1rem 0;
  }

  .arrowBuddies {
    margin: 0 0 -0.5rem 0;
  }

  .arrowLink {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -0.5rem;
  }

  .aboutSection p {
    margin-top: 0;
  }
  .aboutSection .aboutImg {
    width: 100%;
    height: 8rem;
    background-image: url(../../assets/keyboardImage.jpg);
    background-size: cover;
    background-position: 0 center;
    margin-bottom: 1.25rem;
  }
  .aboutSection .aboutImg div {
    width: 11rem;
    height: 11rem;
    top: -17.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .aboutSection .aboutImg img, .aboutSection .aboutImg .overlay {
    display: none;
  }
  .aboutSection .sectionLink {
    position: relative;
    margin: 0 auto;
    right: 0rem;
    border-bottom: 3px solid #0c8282;
  }
  .aboutSection .sectionLink:nth-of-type(2) {
    margin: 1rem auto 0 auto;
    right: 0rem;
  }
  .aboutSection .dashAccent {
    border: 0.3rem dotted rgba(102, 51, 153, 0.397);
  }

  .aboutSection::after {
    bottom: -9rem;
  }

  .projectSection {
    padding: 0;
  }
  .projectSection .projectCopy {
    margin-top: 1.75rem;
  }
  .projectSection .projectContainer {
    margin: 5rem 0;
  }
  .projectSection .projectContainer .projectCopy {
    padding: 0;
  }
  .projectSection .projectContainer:last-of-type {
    margin-bottom: 1rem;
  }

  .growthSection {
    text-align: center;
  }
  .growthSection a, .growthSection .growthCopy p {
    font-size: 0.9rem;
  }
  .growthSection .growthCopy i {
    font-size: 3.25rem;
  }

  .homeArrow {
    right: -3.5rem;
    top: -2.25rem;
  }
}