html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 20px;
}

h1, h2, h3, p, a, ul, li {
  margin: 0;
  padding: 0;
}

button, a {
  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  text-transform: none;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100%;
  color: lightseagreen;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin: 8rem auto;
  min-height: calc(100vh - 16rem);
}

.sectionHeading {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 1rem;
}
.sectionHeading p {
  margin-left: 4.75rem;
}
.sectionHeading span {
  border-left: 3px solid lightseagreen;
  display: inline-block;
  height: 2.5rem;
  padding-right: 0.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  text-align: center;
  background-color: rgba(32, 178, 171, 0.157);
}

html {
  font-family: "Montserrat", sans-serif;
}

.sectionHeading h2 {
  text-transform: uppercase;
}
.sectionHeading p {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}

i {
  font-size: 4rem;
}

header {
  height: 100vh;
  min-height: 800px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: mediumaquamarine;
  position: relative;
  padding: 6rem 0;
}
header nav {
  position: absolute;
}

.headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 600px;
  position: relative;
}

.headerCopy {
  margin: 0 auto;
  text-align: right;
}

h1 {
  margin: 0 auto;
}

.arrowBuddies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 0 0;
}
.arrowBuddies div {
  margin: 0.5rem 0;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #9273a7;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ff5436;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid gold;
}

.mainLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #F6F2D8;
  padding: 0 0 0.25rem 0;
}

.bContainer {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #F6F2D8;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}

.headRear {
  background-color: lightseagreen;
  background-color: #bbf0ed;
  height: 50%;
  width: 50%;
  border-radius: 100% 100% 100% 0;
  position: absolute;
  top: 2.5%;
  left: 25%;
  z-index: 1;
}

.headFront {
  background-color: #bbf0ed;
  height: 50%;
  width: 50%;
  border-radius: 100%;
  /* border bottom needs to be ~ 0.75% of container height */
  border-bottom: 2px solid lightseagreen;
  position: absolute;
  top: 2.5%;
  left: 25%;
  z-index: 2;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

.bodyBox {
  background-color: #bbf0ed;
  height: 60%;
  width: 57.5%;
  border-radius: 0 100% 100% 0;
  position: absolute;
  top: 37.5%;
  left: 25%;
  /* border top needs to be 15% of container height */
  border-top: 42.5px solid gold;
}

.outerEye {
  background-color: white;
  background-color: lightseagreen;
  height: 20%;
  width: 20%;
  border-radius: 100%;
  position: absolute;
  top: 17.5%;
  left: 40%;
  z-index: 2;
}

.eyelid {
  background-color: white;
  background-color: lightseagreen;
  height: 15%;
  width: 20%;
  border-radius: 100%;
  border-bottom: 3px solid #bbf0ed;
  position: absolute;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: 20%;
  left: 40%;
  z-index: 2;
}

.beakSeam {
  height: 3%;
  width: 15%;
  background-color: gold;
  /* border top needs to be ~0.75% of container height */
  border-top: 3px solid white;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 60%;
  z-index: 1;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
}

.wingCircle {
  background-color: white;
  background-color: lightseagreen;
  height: 20%;
  width: 20%;
  border-radius: 100%;
  position: absolute;
  top: 57.5%;
  left: 40%;
  z-index: 3;
}

.wingTip {
  width: 27.5%;
  height: 20%;
  border-radius: 50%;
  -webkit-box-shadow: 6.25% 3.75% 0 0 white;
          box-shadow: 6.25% 3.75% 0 0 white;
  /* Pixel values for box shadow need to be 6.25% and 3.75% of the container height */
  -webkit-box-shadow: 20px 12.5px 0 0 lightseagreen;
          box-shadow: 20px 12.5px 0 0 lightseagreen;
  position: absolute;
  top: 65%;
  left: 27.5%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  z-index: 3;
}

.aboutSection {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutCopy, .aboutImg {
  width: 50%;
}

.aboutCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-left: -4rem;
  padding: 3rem 0;
  width: 55%;
  width: calc(50% + 4rem);
  z-index: 1;
}
.aboutCopy p {
  margin: 1rem 0;
  width: 75%;
}
.aboutCopy a {
  position: absolute;
  bottom: 0;
  right: 6rem;
  border-bottom: 3px solid lightseagreen;
}
.aboutCopy :first-child {
  font-size: 1.5rem;
  font-weight: 700;
  color: lightseagreen;
  width: 100%;
}

.aboutImg {
  position: relative;
  width: 50%;
}
.aboutImg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.dashAccent {
  position: absolute;
  top: 2rem;
  left: -6rem;
  height: 29rem;
  width: 29rem;
  border-radius: 50%;
  border: 0.25rem dotted rgba(102, 51, 153, 0.493);
  z-index: -1;
}

.projectSection .sectionHeading p {
  margin-left: 6rem;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 8rem;
}
.projectContainer .projectCopy {
  padding: 1.5rem 1.5rem 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  width: 42.5%;
  z-index: 1;
}
.projectContainer .projectImg {
  position: relative;
  width: 52.5%;
}
.projectContainer p {
  margin: 1rem 0;
}
.projectContainer a {
  border-bottom: 3px solid lightseagreen;
}
.projectContainer a:last-of-type {
  margin-left: 0.75rem;
}

.projectLinks {
  text-align: left;
}

.projectContainer:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.projectContainer:nth-of-type(2n) .projectCopy {
  padding: 1.5rem 0 1.5rem 1.5rem;
  text-align: left;
}
.projectContainer:nth-of-type(2n) .projectLinks {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.projectContainer:nth-of-type(2n) a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.projectImg > div {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.leftAccent {
  right: 10%;
  top: 7.5%;
}

.rightAccent {
  left: 10%;
  top: 7.5%;
}

.proj1 .projectLinks a {
  color: #857EA9;
  border-bottom: 3px solid #857EA9;
}
.proj1 .projectImg > div {
  border: 0.25rem dotted #ecdcc3a9;
}

.proj2 .projectLinks a {
  color: #4d203cbc;
  border-bottom: 3px solid #4d203cbc;
}
.proj2 .projectImg > div {
  border: 0.25rem dotted #3b2a3d4f;
}

.proj3 .projectLinks a {
  color: #737593;
  border-bottom: 3px solid #737593;
}
.proj3 .projectImg > div {
  border: 0.25rem dotted #CBCCE9;
}

.proj4 .projectLinks a {
  color: #DD862C;
  border-bottom: 3px solid #DD862C;
}
.proj4 .projectImg > div {
  border: 0.25rem dotted #dd872c4f;
}

.contactSection {
  min-height: 0vh;
  margin-bottom: 6rem;
}
.contactSection .sectionHeading p {
  margin-left: 6rem;
}

.contactCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contactInfo {
  text-align: center;
  margin-bottom: 2rem;
}
.contactInfo a {
  padding: 0.25rem;
  text-transform: none;
  letter-spacing: 0.05rem;
}
.contactInfo p {
  font-weight: 700;
  font-size: 2rem;
}

.contactNav {
  margin-bottom: 2rem;
}
.contactNav a {
  margin: 0 1rem;
}
.contactNav i {
  font-size: 2rem;
}

@media (max-width: 500px) {
  .wrapper {
    width: 100%;
  }

  section {
    margin: 0;
  }

  h1, h2 {
    font-size: 2rem;
  }

  h3,
section p,
.projectLinks {
    padding: 0 1rem;
  }

  .sectionHeading {
    padding: 5rem 1rem 2.5rem 1rem;
  }
  .sectionHeading p {
    font-size: 0.75rem;
  }
  .sectionHeading p span {
    padding: 0.12rem;
    height: 1.5rem;
  }

  .aboutSection .sectionHeading p {
    margin-left: 3.3rem;
  }
  .aboutSection .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSection .aboutCopy {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
  .aboutSection .aboutCopy p {
    font-size: 1rem;
    width: 100%;
  }
  .aboutSection .aboutImg {
    width: 100%;
    height: 8rem;
    background-image: url(../../assets/keyboardImage.jpg);
    background-size: cover;
    background-position: 0 center;
  }
  .aboutSection .aboutImg img, .aboutSection .aboutImg .overlay {
    display: none;
  }

  .projectSection .allProjects article:last-of-type {
    margin-bottom: 0;
  }
  .projectSection .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 4rem;
  }
  .projectSection .projectContainer .projectCopy {
    padding: 0;
  }
  .projectSection .projectContainer .projectLinks, .projectSection .projectContainer h3 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .projectSection .projectCopy, .projectSection .projectImg {
    width: 100%;
  }
  .projectSection .projectCopy {
    text-align: left;
    padding: 0;
    margin-top: 1.75rem;
  }
  .contactSection {
    margin-bottom: 2rem;
  }

  .contactInfo p {
    font-size: 1.5rem;
  }

  .contactNav {
    width: 60%;
  }
  .contactNav a {
    margin: 0.5rem;
  }
  .contactNav i {
    font-size: 1.5rem;
  }

  footer {
    height: 4rem;
  }
}